:root {
  --primary: #c5f82a;
  --light: #ffffff;
  --secondary: #333333;
  --dark-secondary: #1f1f1f;
  --dark: #141414;
  --link: #3e52a3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* RESET CSS */
  color: var(--light);
}

body {
  background-color: var(--dark);
}

@font-face {
  font-family: Inter;
  src: url("../fonts/Inter-VariableFont_slnt\,wght.ttf");
}

.container {
  max-width: 375px;
  width: calc(100% - 3rem);
  background-color: var(--dark-secondary);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 7.5rem auto;
}

.pt-2 {
  padding-top: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mx-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.circle {
  border-radius: 50%;
}

.rounded {
  border-radius: 12px;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card-image {
  width: 28%;
}

.card-subtitle {
  color: var(--primary);
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

.btn {
  border: none;
  border-radius: 5px;
  padding: 1rem;
}

p {
  font-size: 19px;
}

.btn {
  background-color: var(--secondary);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--link);
}
/* MOBILE */

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }

  p {
    font-size: 14px;
  }

  .attribution {
    margin-top: 7rem;
    font-size: 16px;
  }
}
/* DESKTOP */
